body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;
  height: 100vh;
  background-size: cover; /* Ensure the image covers the whole screen */
  background-position: center center;
}
